html,body{
  letter-spacing: 0.6px;
  line-height: 1.7;
  color: #646464;
  font-size: 14px;
  font-family: YuGothic,游ゴシック,Meiryo,メイリオ,Hiragino Kaku Gothic Pro,ヒラギノ角ゴシック,sans-serif;
}

body:before{
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 4px;

  background: #70A0FF;

  content: "";
}

#main{
  width: 650px;
  max-width: 95%;
  margin: 0 auto;
}

h1{
  margin-top: 0;
  font-size: 18px;
}

section{
  padding: 10px 0;
}

.flex{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile .icon{
  margin-right: 20px;
}

.profile h1{
  margin-left: 10px;
}

.profile .profile-list{
  padding-left: 30px;
}

.profile .links-wrap{
  list-style: none;
  margin-left: -20px;
}

.profile .links{
  padding: 0;
  list-style: none;
  display: inline-block;
}

.profile .links li{
  display: inline-block;
  margin-right: 10px;
}

.profile .links li a{
  font-size: 20px;
  cursor: pointer;
}

.twitter{
  color: #55ACEF;
}

.facebook{
  color: #3A579D;
}

.github{
  color: #171515;
}

.email{
  color: #db1f1d;
}

.slide-url{
  font-size: 12px;
  color: #0055bb;
}

@media (max-width: 568px) {
  .profile{
    display: block;
    text-align: center;
  }
  ul{
    text-align: left;
    padding-left: 20px;
    width: calc(100% - 20px);
    word-break: break-all;
  }
  li{
    margin-bottom: 10px;
  }
}
